@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #eee;
}

header {
  /* display: none;*/
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon1, .icon2 {
  display: none;
}

video {
  display: none;
}

.page {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #5624d0;
}

h1 {
  color: #000;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 6px;
  margin-left: 10px;
}

.inicio {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.form-group {
  height: 640px;
  display: flex;
  margin: 12px 12px 42px 12px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
  gap: 27px;
  border: solid 1px #ccc;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
} 

 .container input {
  border-radius: 18px;
  background-color: #323644;
}


input:not(:placeholder-shown) {
  color: rgb(250, 249, 249);
}

.span-separator {
  margin: 0px 0 10px 10px;
  height: 20px;
}

.container-text {
  display: flex;
  flex-direction: column;
}

.form-group input {
  width: 372px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 18px;
  padding: 0 10px;
  font-size: 16px;
  color: #fff;
}

.form-group-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group textarea {
  width: 372px;
  padding: 10px 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  resize: none;
  height: 200px;
  border-radius: 18px;
  background-color: #323644;
  color: #fff;
}

 .form-group .btn {
  width: 320px;
  height: 50px;
  border-radius: 18px;
  background-color: #2c63c9;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: 0.8s;
} 


.form-group button:hover {
  background-color: #ffffff;
  color: #2f21f5;
  border: 2px solid #2f21f5;
}

#root {
  margin-bottom: 24px;
}

form button {
  width: 364px;
  height: 57px;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  margin: 0 0 15px 0;
  padding: 17px;
}

#titulo {
  /* width: 400px; */
  width: auto;
  height: 38px;
  top: 632px;
  margin: 12px 12px 12px 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  margin: 0 auto;
}

#cards-cursos {
  flex-wrap: wrap;
  width: 406px;
  margin: 12px 12px 12px 12px;
  gap: 30px;
  margin: 20px auto;
  border-bottom: solid 1px #ccc;
}

#titulo-curso {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  /* color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  margin-top: 15px;
}

img {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  align-items: center;
}

p {
  font-family: "Roboto" sans-serif;
  font-size: normal;
  font-family: 300;
  font-size: 14px;
  line-height: 21px;
  /* color: rgba(255, 255, 255, 0.6); */
  text-align: justify;
  margin: 12px 12px 12px 12px;
}

@media (min-width: 728px) {
  header {
    display: flex;
    width: 100%;
    /* min-width: 1280px; */
    max-width: 100%;
  }

  .page {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    background-color: #5624d0;
  }

  h1 {
    color: #fff;
  }

  h2#titulo {
    color: #c92c6d;
  }

  .img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

  .form-group {
    width: 100%;
    height: 700px;
    /* min-width: 1280px; */
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .form-group-input {
    display: flex;
    flex-direction: row;
  }

  .form-group-input .icon1 {
    position: relative;
    text-align: right;
    right: 15px;
    top: 45px;
    width: 100%;
    max-width: 10%;
    margin-left: 90%;
    color: #ffffff;
  }

  .form-group-input .icon2 {
    position: relative;
    text-align: right;
    right: 15px;
    bottom: 87px;
    width: 100%;
    max-width: 10%;
    margin-left: 90%;
    color: #ffffff;
  }

  .icon {
    padding: 10px;
    min-width: 40px;
  }

  .icon1, .icon2 {
    display: block;
  }

  .error-message-textarea {
    color: red;
    font-size: 14px;
    font-weight: 900;
    padding: 0;
  }

  .error-message-titulo {
    color: red;
    font-size: 14px;
    height: 30px;
    top: 40px;
    font-weight: 900;
    margin: -32px 10px 10px 10px;
    padding: 0;
  }

  span {
    width: 300px;
    height: 40px;
  justify-content: center;
  }

  .span-separator {
    margin: 0 0 15px 0;
  }
  .form-group textarea:focus,
  .form-group input:focus {
    color: #ffffff;
  }
  .container input {
    width: 520px;
    height: 60px;
    border-radius: 18px;
    background-color: #323644;
  }

  input[type="text"] {
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  textarea[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  .form-group textarea {
    width: 520px;
    height: 190px;
    font-size: 16px;
    border-radius: 18px;
    resize: none;
    background-color: #323644;
  }

  video {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }

  .form-group {
    position: relative;
    z-index: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .container1 {
    height: 100px;
  }

   .form-group button {
    width: 320px;
    height: 50px;
    border-radius: 18px;
    background-color: #2c63c9;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 0.8s;
    margin: 0 auto;
  } 

  

  .form-group button:hover {
    background-color: #fff;
    color: #2c63c9;
    border: 1px solid #c92c6d;
  }

  .btn {
    background-color: -internal-light-dark(rgb(239, 239, 239, 0), rgb(19, 1,1, 0.3));
    color: -internal-light-dark(rgb(16, 16, 0.3), rgb(255, 255, 255, 0.3));
    border: 1px solid -internal-light-dark(rgb(118, 118, 118, 0.3), rgb(94, 94, 94, 0.3));
  }

  input::placeholder {
    color: rgba(250, 249, 249, 0.39);
  }

  textarea::placeholder {
    color: rgba(250, 249, 249, 0.39);
  }

  input:not(:placeholder-shown) {
    color: rgb(250, 249, 249);
  }

  #root {
    display: flex;
    flex-wrap: wrap;
    /* width: 1280px; */
    width: auto;
    /* height: 50%; */
    gap: 30px;
    margin: 0 auto;
    justify-content: center;
    background: #fff;
  }

  #root h2 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  div #cards-cursos {
    width: 350px;
    margin: 0 0 0 0;
  }

  #titulo-curso {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding-top: 10px;
  }
}